.footer {
  &__inner {
    padding: 30px 25px;
    gap: 30px;
    border-bottom: 1px solid #D0E5D4;
    background: #F2F6F3;
  }

  &__list {
    &-title {
      display: block;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 8px;
    }
  }

  &__item {
    a {
      font-size: 14px;
      line-height: 30px;
      color: $cl-primary;
      @include tr-bg_cl;
      cursor: pointer;

      &:hover {
        color: $cl-secondary;
      }
    }
  }

  .social {
    &__list {
      margin-bottom: 30px;
      gap: 10px;
    }

    &__item {
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 4px;
      border: 1px solid #46a35833;
      @include tr-bg_cl;
      cursor: pointer;

      i {
        @include center-absolute;
        top: 50%;
        left: 50%;
        color: $cl-secondary;
        @include tr-bg_cl;
      }

      &:hover {
        background: $cl-secondary;
      }
      &:hover i {
        color: #fff;
      }
    }

    &__img {
      position: relative;
      left: -13px;
    }
  }

  &__desc {
    text-align: center;
    padding: 15px 0 20px 0;
  }
}